./nob
.cache
*.cache
.cache/**
nob
nob.old
nob.exe
./nob.exe
*.exe
**.exe
*.json
*.old
.last_yank.txt
.trails
PR*.md
.bin/
.bin
*.bin
*.bak
.build/
*.png
*.out
a.out
*.log
examples/raylib/
split.sh
src/vendor/mpv-dev-x86_64-20260614-git-7d245fd100/libmpv-2.dll
src/vendor/mpv-dev-x86_64-20260614-git-7d245fd100/libmpv-2.dll.bak
